In [3]:
import plotly.figure_factory as ff
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split, cross_val_score, KFold, GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
import warnings
%matplotlib inline

In [4]:
#data_day= pd.read_csv("/Users/ghaidaa/Desktop/Bike_sharing/day.csv")
data=pd.read_csv("/Users/ghaidaa/Desktop/Bike-sharing/hour.csv")

In [5]:
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [6]:
data.shape

(17379, 17)

In [7]:
data.tail()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [6]:
data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

## data

In [7]:
data.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [8]:
data.duplicated().sum()

0

In [9]:
data.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [10]:
#data.rename(columns={'instant':'rec_id',
                       # 'dteday':'datetime',
                       # 'holiday':'is_holiday',
                       # 'workingday':'is_workingday',
                       # 'weathersit':'weather',
                       # 'hum':'humidity',
                       # 'mnth':'month',
                       # 'cnt':'total_count',
                       # 'hr':'hour',
                        #'yr':'year'},inplace=True)

In [8]:
dataEDA=pd.read_csv("/Users/ghaidaa/Desktop/Bike-sharing/hour.csv")

In [9]:
df_trainEx, df_test =train_test_split(dataEDA , test_size = 0.2 , random_state=0)

In [10]:
df_trainEx = df_trainEx.rename(columns = {'weathersit':'weather', 'cnt':'count','mnth':'month','temp':'temperature','hum':'humidity'})
df_trainEx['season'] = df_trainEx['season'].map({1:'Winter', 2:'Spring', 3:'Summer', 4:'Fall'})
df_trainEx['yr'] = df_trainEx['yr'].map({0:'2011', 1:'2012'})
df_trainEx['holiday'] = df_trainEx['holiday'].map({0:'No', 1:'Yes'})
df_trainEx['weekday'] = df_trainEx['weekday'].map({0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'})
df_trainEx['workingday'] = df_trainEx['workingday'].map({0:'No', 1:'Yes'})
df_trainEx['weather'] = df_trainEx['weather'].map({1:'Clear', 2:'Cloudy', 3:'Rain', 4:'Storm'})

In [11]:
df_trainEx.rename(columns={'instant':'rec_id',
                        'dteday':'datetime',
                        'holiday':'is_holiday',
                        'workingday':'is_workingday',
                        'weathersit':'weather',
                        'hum':'humidity',
                        'mnth':'month',
                        'cnt':'total_count',
                        'hr':'hour',
                        'yr':'year'},inplace=True)

In [12]:
df_trainEx.columns

Index(['rec_id', 'datetime', 'season', 'year', 'month', 'hour', 'is_holiday',
       'weekday', 'is_workingday', 'weather', 'temperature', 'atemp',
       'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [16]:
df_train.rename(columns={'instant':'rec_id',
                        'dteday':'datetime',
                        'holiday':'is_holiday',
                        'workingday':'is_workingday',
                        'weathersit':'weather',
                        'hum':'humidity',
                        'mnth':'month',
                        'cnt':'total_count',
                        'hr':'hour',
                        'yr':'year'},inplace=True)

NameError: name 'df_train' is not defined

In [ ]:
df_train.columns

In [ ]:
df_trainEx.columns

In [ ]:
# date time conversion
#df['datetime'] = pd.to_datetime(data.datetime)

# categorical variables
# data['season'] = data.season.astype('category')
# data['is_holiday'] = data.is_holiday.astype('category')
# data['weekday'] = data.weekday.astype('category')
# data['weather'] = data.weather.astype('category')
# data['is_workingday'] = data.is_workingday.astype('category')
# data['month'] = data.month.astype('category')
# data['year'] = data.year.astype('category')
# data['hour'] = data.hour.astype('category')

In [ ]:
df_train.sample(5)

In [ ]:
df_trainEx.info()

In [ ]:
df_trainEx.describe()

In [ ]:
df_trainEx.info()

In [ ]:
df_trainEx.describe()

In [ ]:
df_trainEx.datetime.unique()

In [ ]:
df_trainEx.season.unique()

In [ ]:
df_trainEx.season.value_counts()

In [ ]:
df_trainEx.year.unique()

In [ ]:
df_trainEx.year.value_counts()

In [ ]:
df_trainEx.weekday.unique()

In [ ]:
df_trainEx.weekday.value_counts()

In [ ]:
df_trainEx.is_holiday.unique()

In [ ]:
df_trainEx.is_holiday.value_counts()

In [ ]:
df_trainEx.weekday.unique()

In [ ]:
df_trainEx.month.unique()

In [ ]:
df_train, df_test =train_test_split(data , test_size = 0.2 , random_state=0)

In [ ]:
months = 'jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec'.split(',')
ax = sns.barplot('month', 'total_count', data=df_trainEx, estimator=np.mean, ci=None)
ax.set_ylabel('avaerage no. of bikes rented')
ax.set_xlabel('month')
ax.set_xticklabels(months)

plt.title('bike rentals per month')

plt.show()

In [ ]:
season = 'Springer,Summer,Fall,Winter'.split(',')
ax = sns.barplot('season', 'total_count', data=df_train, estimator=np.mean, ci=None)
ax.set_ylabel('avaerage no. of bikes rented')
ax.set_xlabel('season')
ax.set_xticklabels(season)

plt.title('bike rentals per season')

plt.show()

In [ ]:
df_train.temp.unique()
fig,axes=plt.subplots(2,2)
axes[0,0].hist(x="temp",data=df_train,edgecolor="black",linewidth=2,color='#b49fb5')
axes[0,0].set_title("Variation of temp")
axes[0,1].hist(x="atemp",data=df_train,edgecolor="black",linewidth=2,color='#8ab0d9')
axes[0,1].set_title("Variation of atemp")
axes[1,0].hist(x="windspeed",data=df_train,edgecolor="black",linewidth=2,color='#8ab0d9')
axes[1,0].set_title("Variation of windspeed")
axes[1,1].hist(x="humidity",data=df_train,edgecolor="black",linewidth=2,color='#b49fb5')
axes[1,1].set_title("Variation of humidity")
fig.set_size_inches(10,10)

In [ ]:
fig, ax = plt.subplots(figsize=(18, 5))
seasons = ['spring', 'summer', 'fall', 'winter']
ax.set_xticklabels(seasons)
sns.pointplot(x=df_train["hour"], y=df_train["total_count"], hue=df_train["season"], ax=ax)
ax.set(xlabel='Hour Of The Day', ylabel='Normal Weather Count', title="Normal Weather By Hour Of The Day Across Season");

In [ ]:
fig,ax=plt.subplots(figsize=(10,5))
sns.set_style('white')
sns.barplot(x='year',y='casual',data=df_train,hue='season',ax=ax)
Years = '2011,2012'.split(',')
ax.set_xticklabels(Years)
ax.set_title('Casual distribution for seasons yearly')
plt.show()

In [ ]:
fig,ax=plt.subplots(figsize=(10,5))
sns.barplot(x='weekday',y='total_count',data=df_train,hue='weather',ax=ax)
ax.set_title('weathersit weekly distribution of counts')
plt.show()

In [ ]:
plt.subplots(figsize=(15,10))
sns.heatmap(data.corr(), annot=True, cmap='Blues');

In [ ]:
plt.figure(figsize=(5, 6))

labels = 'Clear', 'Mist + Cloudy', 'Light Snow', 'Heavy Rain'
sizes = df_train.total_count.groupby(df_train.weather).sum().tolist()
colors = ['lightgreen', '#eeefff', 'skyblue', 'black']
explode = (0.2, 0, 0, 0.5)

plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=60)
plt.axis('equal')
plt.title('Bike usage based on weather')
plt.show()

In [ ]:
#sns.pairplot(data)

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['season'], prefix='season')],axis=1)

In [ ]:
df_train.isna().sum()

In [ ]:
df_train.shape

In [ ]:
df_train = df_train.drop(["season"],axis=1)

In [ ]:
df_train.head()

In [ ]:
df_train.columns

In [ ]:

df_train=df_train.drop(['casual', 'registered','datetime'], axis=1)

In [ ]:
df_train.isna().sum()

In [ ]:
df_train, X_test, y_train, y_test = train_test_split(df_train[['rec_id', 'year', 'month', 'hour', 'is_holiday',
       'weekday', 'is_workingday', 'weather', 'temp', 'atemp', 'humidity',
       'windspeed','season_1', 'season_2', 'season_3', 'season_4']], df_train[['total_count']], test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

print("Training Data has",X_train.shape)
print("Validation Data has",X_val.shape)

In [ ]:
lr=LinearRegression()
lr.fit(df_train,y_train)

In [ ]:

val = KFold(n_splits = 5)
cv_res = cross_val_score(lr,df_train,y_train,cv = val ,scoring = 'r2')

print('The R square: ',cv_res.mean())
y_pred=lr.predict(X_val)

score = r2_score(y_val,y_pred)
mse = mean_squared_error(y_pred,y_val)

print("Testing accuracy: ",score)
print('Mean Squared Error: ',mse)